html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'StyreneA', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Плавная анимация биения сердца с меньшим увеличением */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.05); /* Первый более аккуратный удар */
    }
    30% {
        transform: scale(1); /* Возвращение после первого удара */
    }
    45% {
        transform: scale(1.08); /* Второй удар, чуть сильнее */
    }
    60% {
        transform: scale(1); /* Возвращение после второго удара */
    }
    100% {
        transform: scale(1); /* Пауза перед повтором анимации */
    }
}

