/* src/index.css */

html {
    overflow-y: scroll;
}

/* Общие стили для всех страниц */
body {
    margin: 0;
    font-family: 'StyreneA', Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /* Улучшение рендеринга шрифтов для WebKit-браузеров */
    -moz-osx-font-smoothing: grayscale; /* Улучшение рендеринга шрифтов для Firefox на macOS */
}

/* Стили для кода (если используется) */
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
